

.comment {
  /* font-style: italic; */
  color: gray;
}

.comment::before {
  content: "/* "
}

.comment::after {
  content: " */ "
}

.test {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
  font-size: 14px;
}

.test__select,
.test__answer {
  padding: 1rem;
  flex-basis: 49%;
  max-width: 49%;
  background: #1e1e1e;
  color: #fff;
}

.test__select input {
  width: 3rem;
  text-align: center;
}