.wrp {
    padding: 1rem;
    max-width: 90%;
    min-width: 22.5rem;
    margin: auto;
    box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,.2);
    display: flex;
    justify-content: space-around;
  }
  .box { 
    max-width: 32%;
    box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,.2);
    min-height: 10rem;
  }
  
  button {
    margin: 1rem;
    --s: 5rem;
    width: var(--s);
    height: var(--s);
    border-radius: 50%;
    border: none;
    background: #88f;
    color: #fff;
    font-size: 18px;
    box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,.2);
    cursor: pointer;
  }
  .panel {
    min-height: 10rem;
    font-size: 24px;
    font-family: sans-serif;
  }
  .timer {
      text-align: center;
      margin-bottom: 1rem;
      color: #800;
      box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
  }